<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, :disabled => true %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address , :disabled => @user.isadmin==true %>
  </div> 
  <%= image_tag url_for(@user.picture)  if @user.picture.attached? %>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, :disabled =>  @user.isadmin!=true %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, :disabled => true %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
